
@{
    ViewData["Title"] = "ViewCambiarPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
        <div class="row gx-lg-5 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h1 class="my-5 display-3 fw-bold ls-tight">
                    The best offer <br />
                    <span class="text-primary">for your business</span>
                </h1>
                <p style="color: hsl(217, 10%, 50.8%)">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eveniet, itaque accusantium odio, soluta, corrupti aliquam
                    quibusdam tempora at cupiditate quis eum maiores libero
                    veritatis? Dicta facilis sint aliquid ipsum atque?
                </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card">
                    <div class="card-body py-5 px-md-5">
                        <form id="loginForm">
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <!-- Email input -->
                            <div class="form-outline mb-3">
                                <h5>Ingrese su nueva contraseña </h5>

                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <input type="password" id="password" name="password" class="form-control" />

                            </div>
                            <div class="form-outline mb-3">
                                <h5>Ingrese Nuevamente su nueva contraseña </h5>

                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" id="repeatPassword" name="repeatPassword" class="form-control" />
                                <span id="errorContraseña" class="text-danger"></span>

                            </div>

                            <!-- Checkbox -->
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">
                                Sign up
                            </button>

                            <!-- Register buttons -->

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#loginForm').submit(function (event) {
                event.preventDefault();

                // Obtener los valores de las contraseñas
                var password = $('#password').val();
                var repeatPassword = $('#repeatPassword').val();

                // Verificar si las contraseñas coinciden
                if (password !== repeatPassword) {
                    // Mostrar mensaje de error si las contraseñas no coinciden
                    $('#errorContraseña').text('Las contraseñas no coinciden.');
                    return; // Detener el envío del formulario
                }

                // Si las contraseñas coinciden, enviar el formulario
                var usuario = {
                    email: '@ViewData["email"]',
                    Contraseña: password
                };

                $.ajax({
                    url: '@Url.Action("CambiarPassword", "Perfil")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(usuario),
                    success: function (response) {
                        if (response === "Ok") {
                            Swal.fire({
                                title: 'Nuevo',
                                text: '¡Contraseña actualizada!',
                                icon: 'success',

                                confirmButtonText: 'OK'
                            }).then((result) => {

                                window.location.href = '@Url.Action("Index", "Perfil")';
                            });

                        } else if (response === "bad") {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: response
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Error al procesar la solicitud: ' + xhr.responseText + error + status
                        });
                    }
                });
            });
        });
    </script>
}

